---

---
<footer class="container py-6 text-center">
  <p>Con especial dedicatoria a Rosa Villegas Gonzalez<a href="https://victoredre.github.io/" target="_blank" rel="noopener noreferrer">𓍲🕊️</a>ִֶָ𓂃 ࣪˖ ִִֶֶָ🥀་༘࿐</p>
</footer>
