---

---
<footer class="container py-6 text-center">
  <p>En memoria a Rosa Villegas Gonzalez<a href="https://victoredre.github.io/" target="_blank" rel="noopener noreferrer">verv</a>ִֶָ𓂃 ࣪˖ ִִֶֶָ🥀་༘࿐</p>
</footer>
