---
// component imports
import {Icon} from "astro-icon/components";

interface SkillCardProps {
    icon: string;
    name: string;
    description: string;
    showDescription?: boolean;
}

const {
    icon,
    name,
    description,
    showDescription = true,
} = Astro.props as SkillCardProps;

---

<div class="flex flex-col gap-2 h-skill-icon bg-white dark:bg-n900 p-4 rounded-md">
    <div class="w-20 h-20">
        <Icon width={50} height={50} name={icon} class="text-primary-light dark:text-primary-dark" />
    </div>
    <h3 class="text-lg font-bold">{name}</h3>
    {
        showDescription && <p class="text-n700 dark:text-n200">{description}</p>
    }
</div>
